<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>controllers.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthorizationFilter</filter-name>
        <filter-class>controllers.filters.AuthorizationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>controllers.filters.DispatchFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/Staff/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/Admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/logout</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/Doctor/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/Customer/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/Staff/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/Admin/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/Doctor/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthorizationFilter</filter-name>
        <url-pattern>/Customer/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.account.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <servlet-class>controllers.booking.BookAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepareAppointmentBookServlet</servlet-name>
        <servlet-class>controllers.booking.PrepareAppointmentBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepareDatetimeAppBookServlet</servlet-name>
        <servlet-class>controllers.booking.PrepareDatetimeAppBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrepareDoctorsAppBookServlet</servlet-name>
        <servlet-class>controllers.booking.PrepareDoctorsAppBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.account.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>controllers.dashboard.UpdatePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>controllers.dashboard.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewBirdInfoServlet</servlet-name>
        <servlet-class>controllers.view.ViewBirdInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDashboardAppointmentsServlet</servlet-name>
        <servlet-class>controllers.dashboard.customer.CustomerDashboardAppointmentsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAppointmentInfoServlet</servlet-name>
        <servlet-class>controllers.view.ViewAppointmentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDashboardBirdsServlet</servlet-name>
        <servlet-class>controllers.dashboard.customer.CustomerDashboardBirdsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controllers.dashboard.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAccountServlet</servlet-name>
        <servlet-class>controllers.view.ViewAccountInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerProfileServlet</servlet-name>
        <servlet-class>controllers.view.ViewCustomerInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDoctorProfileServlet</servlet-name>
        <servlet-class>controllers.view.ViewDoctorInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDashboardUpdateBirdServlet</servlet-name>
        <servlet-class>controllers.dashboard.customer.CustomerDashboardUpdateBirdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDashboardInsertBirdServlet</servlet-name>
        <servlet-class>controllers.dashboard.customer.CustomerDashboardInsertBirdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDashboardDeleteBirdServlet</servlet-name>
        <servlet-class>controllers.dashboard.customer.CustomerDashboardDeleteBirdServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerDashboardCancelAppointmentServlet</servlet-name>
        <servlet-class>controllers.dashboard.customer.CustomerDashboardCancelAppointmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Common/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <url-pattern>/Customer/bookAppointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepareAppointmentBookServlet</servlet-name>
        <url-pattern>/Customer/prepareBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepareDatetimeAppBookServlet</servlet-name>
        <url-pattern>/Customer/prepareDatetime</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrepareDoctorsAppBookServlet</servlet-name>
        <url-pattern>/Customer/prepareDocs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/Dashboard/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/Update/Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBirdInfoServlet</servlet-name>
        <url-pattern>/View/Bird</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDashboardAppointmentsServlet</servlet-name>
        <url-pattern>/Customer/Dashboard/Appointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDashboardAppointmentsServlet</servlet-name>
        <url-pattern>/Customer/Dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAppointmentInfoServlet</servlet-name>
        <url-pattern>/View/Appointment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDashboardBirdsServlet</servlet-name>
        <url-pattern>/Customer/Dashboard/Birds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/Update/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAccountServlet</servlet-name>
        <url-pattern>/View/Account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerProfileServlet</servlet-name>
        <url-pattern>/View/Customer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDoctorProfileServlet</servlet-name>
        <url-pattern>/View/Doctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDashboardUpdateBirdServlet</servlet-name>
        <url-pattern>/Customer/Dashboard/Birds/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDashboardInsertBirdServlet</servlet-name>
        <url-pattern>/Customer/Dashboard/Bird/Insert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDashboardDeleteBirdServlet</servlet-name>
        <url-pattern>/Customer/Dashboard/Birds/Delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerDashboardCancelAppointmentServlet</servlet-name>
        <url-pattern>/Customer/Dashboard/Appointments/Cancel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>intro.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>401</error-code>
        <location>/Common/login.jsp</location>
    </error-page>
</web-app>
